{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="mb-4">{{ 'create_secret'|trans }}</h1>
  <div data-widget="create-secret-form" data-labels="{{ {
    copied: 'copied'|trans,
    error: 'could_not_create_share_link'|trans,
    rateLimitReached: 'rate_limit_reached'|trans
  }|json_encode }}">
    <form data-target="create-secret-form.form">
      <div class="mb-3">
        <label for="input-secret" class="form-label">{{ 'your_secret'|trans }}</label>
        <textarea class="form-control" id="input-secret" rows="5" aria-describedby="input-secret-help" maxlength="1000" required autofocus autocomplete="off" spellcheck="false"></textarea>
        <div id="input-secret-help" class="form-text">{{ 'your_secret_help'|trans }}</div>
      </div>
      <button type="submit" class="btn btn-primary">{{ 'create_share_link'|trans }}</button>
    </form>

    <div class="mt-5" data-target="create-secret-form.result" hidden>
      <h2>{{ 'your_share_link'|trans }}</h2>
      <div class="input-group">
        <input type="text" class="form-control" readonly data-target="create-secret-form.link">
        <button class="btn btn-primary" type="button" data-target="create-secret-form.copy">
          {{ 'copy'|trans }}
        </button>
      </div>
      <a href="{{ path('secrets:create') }}" class="btn btn-primary mt-5">{{ 'create_new_secret'|trans }}</a>
    </div>
  </div>
{% endblock %}
