{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="mb-3">{{ 'show_secret'|trans }}</h1>
  {% if not secret %}
    <div class="alert alert-danger mb-0">
      {{ 'secret_not_found'|trans }}
    </div>
  {% else %}
    <div data-widget="show-secret" data-id="{{ secret.id }}" data-labels="{{ {
      error: 'could_not_show_secret'|trans,
      rateLimitReached: 'rate_limit_reached'|trans
    }|json_encode }}">
      <p>
        {{ 'attention_only_once'|trans }}
      </p>

      <button type="submit" class="btn btn-danger" data-target="show-secret.show">{{ 'show_secret'|trans }}</button>
      <textarea class="form-control" id="input-secret" rows="5" readonly spellcheck="false" data-target="show-secret.result" hidden></textarea>
      <div class="alert alert-danger mb-0" data-target="show-secret.error" hidden>
        {{ 'decryption_error'|trans }}
      </div>
    </div>
  {% endif %}
{% endblock %}
