<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}One Time Secret{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="robots" content="noindex,nofollow,noarchive">
    <meta name="description" content="{{ 'meta_description'|trans }}">
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body class="d-flex align-items-center min-vh-100" data-base-uri="{{ base_uri() }}" data-csrf-token="{{ csrf_token('api') }}">
    <div class="container my-4">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
